:global {
  .loading{
  background-image:url('assets/icons/loading.svg');
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  // border: 2px solid black;
  background-position:center;

 }
}